{% extends 'layout.twig' %}

{% block body %}
    <h1 class="text-2xl text-center">Votre coffret</h1>
    {% if cartService.cart() %}
        <div>
            <h1>Vous avez {{ cartService.cart().prestations().count() }} prestation(s) dans votre coffret</h1>
            {% set prestationsCount = {} %}
            {% for prestation in cartService.cart().prestations().get() %}
                {% set prestationsCount = prestationsCount|merge({(prestation.libelle): (prestationsCount[prestation.libelle]|default(0))+1}) %}
            {% endfor %}
            <ul>
                {% for libelle, count in prestationsCount %}
                    <li>- {{ libelle }} {% if count > 1 %} x{{ count }}{% endif %}</li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <div>
            <h1>Aucun coffret, souhaitez-vous en créer un ?</h1>
            <a href="{{ url_for('box_creation') }}">Créer un coffret</a>

            <h1>Ou bien choisissez-en un</h1>
            <ul>
                <li>Coffret1</li>
                <li>Coffret2</li>
            </ul>
        </div>
    {% endif %}
{% endblock %}
