{% extends 'layout.twig' %}

{% block body %}
  <h2 class="text-xl font-bold">Catégories</h2>

  <table class="table-auto">
    <tr>
      <th>ID</th>
      <th>Libellé</th>
    </tr>
    {% for categorie in categories %}
      <tr>
        <td>{{ categorie.id }}</td>
        <td>
            <a href="{{ url_for('categorie', {'id': categorie.id}) }}">{{ categorie.libelle }}</a>
        </td>
      </tr>
    {% endfor %}
  </table>

  <a href="{{ url_for('accueil') }}" class="bg-blue-500 mt-2 p-2 text-white font-semibiold">Accueil</a>

{% endblock %}
