<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="grid-container">

<header class="bg-gray-800 py-4 px-8 flex items-center justify-between">
    <div class="text-white font-bold text-xl"><a href="{{ url_for("accueil")}}">MyGiftBox</a></div>

    <div class="flex items-center">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded mr-2">Connexion</button>
        <button class="bg-green-500 hover:bg-green-700 text-white font-semibold py-2 px-4 rounded mr-2">Inscription</button>
        <div class="relative">
            <button class="bg-gray-500 hover:bg-gray-700 text-white font-semibold py-2 px-4 rounded">
                Ma Box
            </button>
            <div class="absolute top-0 right-0 bg-red-500 text-white rounded-full w-4 h-4 flex items-center justify-center -mt-1 -mr-1">
                <span class="text-xs font-semibold">2</span>
            </div>
        </div>
    </div>
</header>

<main class="main">
    {% block body %}{% endblock %}
</main>

<footer class="footer">

</footer>

</body>
</html>
