<!DOCTYPE html>
<html>
<head>
    <title>My GiftBox</title>
    <style>
        .grid-container {
            display: grid;
            grid-template-areas:
            'header header header'
            'nav main main'
            'footer footer footer';
            grid-gap: 10px;
            padding: 10px;
        }

        .header, .footer {
            grid-area: auto;
            background-color: #cccccc;
            padding: 10px;
            text-align: center;
        }

        .nav {
            grid-area: nav;
            background-color: #dddddd;
            padding: 10px;
        }

        .main {
            grid-area: main;
            background-color: #eeeeee;
            padding: 10px;
        }
    </style>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="grid-container">
<header class="header">

</header>

<nav class="nav">

</nav>

<main class="main">
    {% block body %}{% endblock %}
</main>

<footer class="footer">

</footer>
</body>
</html>
